<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Please enter OTP sent to your Email</h1>
    <input type="text" name="OTP" id="value" />

    <button type="submit" id="submitBtn">Submit</button><br />
    <div id="timerDisplay">0</div>
    <button id="resendBtn">Resend</button>
    <script src="/main-OTP.js"></script>
  </body>
</html>
